<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="bg-black bg-opeacity-75">
    <span class="bg-light p-2">elrn</span>
    <button [routerLink]="['/home']" class="btn btn-primary m-1">HOME</button>
    <button [routerLink]="['/course']" class="btn btn-primary m-1">COURSE</button>
    <button [routerLink]="['/student']" class="btn btn-primary m-1">STUDENT</button>


<button [routerLink]="['/student-details']" class="btn btn-primary m-1">studentdetails</button>
<br>
<button [routerLink]="['/student-list']" class="btn btn-primary m-1">studentlist</button>





</div>
<!----
<h1>hellos home</h1>
<nav class="nav">
  <li><a href="/home">Home</a></li>
  <br>
  <li><a href="/student">student</a></li>
  <br>
  <li><a href="/course">course</a></li>


</nav>
-->
<router-outlet></router-outlet>


